.error {color: #ff5555;}

.mistake {
    color: #fff;
    background-color:#800;
    border: thin solid #000;
}

.topbar{
    font-family: Arial, Helvetica,sans-serif;
    font-size: 17px;
    font-weight: bold;
    background-color: rgb(237, 255, 249);
    height: 65px;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    color: darkcyan;
    border-bottom: solid 2px rgb(216, 216, 216);
    margin-bottom: 10px;
}

#topbar-search{
    margin: 10px auto;
    float: right;
    width: 573px;
    height: 21px;
}
#topbar-text-left{
    margin: 5px 0 0 60px;
    float: left;
    width: 370px;
    height: 30px;
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}
#topbar-text-right{
    margin: 12px 0 0 10px;
    float: right;
    width: auto;
    height: 30px;
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bolder;
    padding-right: 115px;
}

.signup{
    border: aqua;
    border-radius: 10px;
    border-style: solid;
    width: 600px;
    margin: auto;
    padding: 10px;
    background-color: aliceblue;
    font-size: x-large;
}

#register-form{
    padding-top: 100px;
}

.main-index{
    height: 100px;
    width: 1300px;
    margin-top: 75px;
    margin-left: 17px;
    margin-right: auto;
}
.second-index{
    float: left;
    height: 100px;
    width: 1300px;
    margin-top: 75px;
    margin-left: 17px;
    margin-right: auto;
}
.third-index{
    float: right;
    height: 100px;
    width: 1300px;
    margin-top: 75px;
    margin-left: 17px;
    margin-right: auto;
}
 
div.topbar a {
    text-decoration: none; /* No underlines on the link */
    color: darkcyan;
}
/* ###### form #########*/
.forms{
    margin-top: 100px;
}
.forms {
    margin-left:auto;
    margin-right:auto;

    max-width: 500px;
    background: #FFF;
    padding: 30px 30px 20px 30px;
    box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
    -webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.forms h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #F5F5F5;
    margin: -10px -30px 10px -30px;
    color: #969696;
}
.forms h1>span {
    display: block;
    font-size: 11px;
    color: #C4C2C2;
}
.forms label {
    display: block;
    margin: 0px 0px 5px;
}
.forms label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #969696;
}
.forms input[type="text"],.forms input[type="password"], .forms input[type="email"], .forms textarea,.forms select{
    color: #555;
    width: 70%;
    padding: 3px 0px 3px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    height: 25px;
    line-height:15px;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}
.forms textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.forms input[type="button"] {
    -moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c95bff), color-stop(1, #8f02ef) );
    background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
    background-color:#8f02ef;
    border-radius:9px;
    -webkit-border-radius:9px;
    -moz-border-border-radius:9px;
    border:1px solid #ee1eb5;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height: 40px;
    line-height: 30px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #c70067;
}
.forms input[type="button"]:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0) );
    background:-moz-linear-gradient( center top, #ef027d 5%, #ff5bb0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0');
    background-color:#ef027d;
}
.forms input[type="button"]:active {
    position:relative;
    top:1px;
}
.forms select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    line-height: 15px;
    height: 30px;
}
#main{
    float: left;
    width: 62.8888889%; /* 566px / 900px */
}
#other{
    float: right;
    width: 36.7777778%; /* 331px / 900px */
}
/***************** header section *****************************/
header h1 {
    padding: 0.8em 5.33333333%; /* 48px / 900px */
}

.infoTime {
background-color: rgba(127, 255, 212, 0.47);
border: rgb(98, 146, 130);
box-shadow: 0px 0px 100px aquamarine;
margin-top: 100px;
margin-left: 15%;
margin-right: auto;
width: 1000px;
    
}

.first {
	padding-top: 0px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	float: left;
	text-align: left;
	text-indent: 2px;
	border-color: #9BC51A;
	border-style: solid;
        margin-left: 100px;
        margin-right: auto;
        margin-bottom: auto;
        box-shadow: 15px 11px 16px #4D339E;
        background-color: white;
        width: auto;
}
.second {
	padding-top: 0px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	float: right;
	text-align: left;
	text-indent: 2px;
	border-color: #9BC51A;
	border-style: solid;
        margin-left: auto;
        margin-right: 100px;
        margin-bottom: 15px;
        margin-top: 5px;
        box-shadow: 15px 11px 16px #4D339E;
        background-color: white;
        width: auto;
}

.fluid {
	clear: both;
	margin-left: auto;
        margin-right: auto;
	width: 80%;
	display: block;
}

#footer {
	
	color: #3F007F;
	margin-top: 25px;
        
}
